aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-devtools==1.1.2
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
asttokens==2.4.1
attrs==24.3.0
cfgv==3.4.0
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
devtools==0.12.2
distlib==0.3.9
executing==2.2.0
filelock==3.17.0
frozenlist==1.5.0
humanfriendly==10.0
identify==2.6.6
idna==3.10
jinja2==3.1.5
markupsafe==3.0.2
multidict==6.1.0
nodeenv==1.9.1
platformdirs==4.3.6
propcache==0.2.1
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
pyreadline3==3.5.4
pyyaml==6.0.2
six==1.17.0
sniffio==1.3.1
typing-extensions==4.12.2
virtualenv==20.29.1
watchfiles==1.0.4
yarl==1.18.3
